@charset "UTF-8";
*{margin:0;
padding:0;}
body{
font-family: Source Sans Pro;
font-size:14px;
line-height:1.7;
color:#0C0F17;
background-color:#F2F2F2;
opacity:0.75;
}



#bod {
position: relative;
margin: auto;
padding:3% 7.5% 3% 7.5%;
}

#bod h1{
font-size: 24px;
text-align: center;
padding:1%;
}

#bod h2{font-size:18px;
border-bottom:solid 3px #0C0F17}

#bod ol{
	padding-left:3em;
	text-indent: 1%;
}

#bod ul{
padding-left:3em;
text-indent: 1%;
}
 
#bod a{
color:#D91414;
}

#bod b{
color:#F25244;
text-decoration: bold;
}
