html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #D0D5D9;
    background-color: #1C2026;
    width: 100%;
}

body{
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    text-decoration-line: underline;
    text-decoration-color: #D9753B;
}

em{
    text-decoration-line: underline;
    text-decoration-color: #73AABF;
}

a{
    color: #D0D5D9;
    text-decoration: underline;
    text-decoration-color: #F2A488;
    padding: 0.01rem;
}

a:hover{
    background-color: #F2A488;
    text-decoration: none;
    transition: 0.6s;

}

button{
    outline: solid;
    outline-color: #73AABF;
    outline-offset: -0.2rem;
    outline-width: 0.3rem;
    padding: 0;
    color: #D0D5D9;
    background-color: #1C2026;
    height: 4rem;
    width: 8rem;
    vertical-align: middle;
    margin: 1rem;
    border-radius: 75%;
    font-size: 3rem;
}

footer{
    text-align: center;
    margin: 5%;
}

#intro{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin: 1rem;
}

#headshot{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 15rem;
    margin: auto;
    border-radius: 25%;
    
}

#intro_txt_box{
    padding: 0.5rem;
}

#maps{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    gap: 1rem;
}

#map{
    display: block;
    width: 100%;
    height: 35rem;
    margin: auto;
}



#button_container{
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}
#footer>h2{
    font-size: 1rem;
}

#projects{
    display: grid;
    grid-template: 1fr 1fr 1fr;
    gap: 1rem;
}

#courses>p{
    text-indent: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.uni_name{
    text-decoration-line: underline;
    text-decoration-color: #F2A488;
}

#footer> ul{
    list-style: none;
}

/*MIGRATION FROM JAVASCRIPT FILE*/
/* .proj_cont{
    margin: 0.5rem;
} */

.link_to_project{
    text-decoration-line: none;
}

.link_to_project:hover{
    background-color: #73AABF80;
}

.project{
    padding: 1rem;
    outline: solid;
    outline-color: #73AABF;
    height: 30rem;
}

.title_box{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proj_photo{
    width: 75%;
    padding: 1rem;
    display: block;
    margin: auto;
}

.proj_txt{
    padding: 0.5rem;
}

.proj_txt>p{
    text-decoration-line: none;
}