@charset "UTF-8";


body {
width: 95%;
height: 100%;
font-family: Source Sans Pro;
font-size:14px;
line-height:1.7;
background: linear-gradient(rgba(29, 89, 139, 0.75), rgba(29, 89, 139, 0.75)),url("files/IMG-20200210-WA0016.jpg");
background-size: cover;
background-attachment: fixed;
justify-content: center;
align-items: center;
color:#E3F8F9;
}

#outer{
padding:5%;
}


#bod h1{
text-align: center;
font-size: 20px;
}

#bod h3{
color:#41D9CA;
text-align: center;
font-size: 16px;
}

#bod h2{
font-size: 18px;
border-bottom:solid 3px #E3F8F9
}

#bod h4{
font-size: 14px;
border-bottom:solid 1px #E3F8F9
}


#bod a{
color:#41D9CA;
transition:all 0.5s linear;
}


#bod a:hover{
color:#E3F8F9;
background:#41D9CA;
}

#bod b{
color:#ADDADA;
}

#bod p{
margin:0.25px;
}

#footer{
font-size:10px;
text-align: center;
padding:5%;
}