@charset "UTF-8";
*{margin:0;
padding:0;}
body{
font-family: Source Sans Pro;
font-size:18px;
line-height:1.7;
color:#3D5A80;
background-color:#E0FBFC;
opacity:0.75;}

header{
	height:10%;
	background-color:#293241;
	text-align:center;
	margin:relative;
	padding:10%;
	color:#E0FBFC;
}

header p a{text-decoration:none;
color:#E0FBFC;}

header h1{font-size:48px;}
header h2{font-size:40px;}
/*header*/

#nav {
  list-style: none;
margin:3px;}

#nav li{list-style: none;}

#nav li a{
display:block;
list-style: none;
background:#E0FBFC;
list-style: none;
width:50%;
height:10%;
margin:0 auto;
border: solid 2px #3D5A80;
text-align:center;
position:center;
display:box;
width:100%;
height:10%;
text-decoration:none;
color:#293241;
padding:20px;
font-size:16px;
transition:all 0.1s linear;}

#nav li a:hover{color:#E0FBFC;
background:#293241;}

#bod {
margin:1% auto 1%;
padding:7.5%;}

#bod h2{font-size:28px;
border-bottom:solid 5px #293241;}

#bod h3{border-bottom:solid 3px #293241;}

#bod ol{
	padding-left:3em;
	text-indent: 1%;
}

#bod ul{
padding-left:3em;
text-indent: 1%;
}

#bod table
{width:95%;
margin:1% auto 1%;
border-collapse: collapse;}

#bod tr{height:20px;}

#bod th, td {border:solid 3px #293241;
text-align:left;
padding-left:1%;}

#bod th{background-color:#98C1D9;
opacity:0.75;
color:#293241;}

#bod a{
color:#EE6C4D;
transition:all 0.1s linear;}

#footer{
display:block;
background:#293241;
text-align:center;
color:#E0FBFC;}

#footer p a{text-decoration:none;
color:#E0FBFC;}